# Build folders
build/
x64/
Win32/
Debug/
Release/

# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# Compiled binaries
*.exe
*.dll
*.lib
*.obj
*.pdb
*.idb
*.ilk

# Logs
log_*.txt

# Cache
*.ipch
*.aps
*.ncb
*.opendb
*.VC.db
*.VC.VC.opendb

# Temporary files
*.tmp
*.log
*.cache
*.tlog

# CMake (если появится)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Other
*.bak
*.old
